*{
    padding: 0;
    margin: 0;
    /*overflow-x: hidden;*/
    box-sizing: border-box;/*  */
    font-family:Arial, Helvetica, sans-serif;
}

.index-body {
    /*background-image: url(image/background_home.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #F9CED8;;
    
     
}
/*navbar*/

header{
    width: 100%;
    height: 90px;
    padding: 8px 15px;
    background-color: #F5DF4D ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: fixed;*/
}

nav{
    padding: 10px;
    
}

ul{
    display: flex;
    justify-content: center;
    gap: 23px;
}

.logo img{
    width: 100%;
}

ul li,ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: clamp(6px,2vw,24px);
    color: #fff;
}

.nv{
    width: 100%;
    background-color: #FE5CC7;
    border: 2px solid #FE5CC7 ;
    border-radius: 15px; 
}

.nav_list{
    /*padding: 80px;*/
}
/*home page*/

.banner_home{
    background-color: #F9CED8;
}

.texte_home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin: 0 auto;
    padding-top: 5%;
    margin-bottom: 7%;
    width: 100%;
    flex-direction: column;
}


.pic_girls{
    width: 30%;
    height: 175px;
    /*margin: 30px auto;*/
}

/*slogan home*/

.texte_home h1{
    color: black;
    font-family: gratina;
    font-size: 25px;
    font-weight: bold;
}

.play_now{
    background-color: #FE5CC7;
    padding: 4px;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 10%;
    text-align: center;
    /*margin-top: 40px;*/
}
footer{
    width: 100%;
    height: 100%;
    background-color: #F5DF4D;
    display: flex;
    align-items: center;
   
    justify-content: center;
    /* align-self: self-end; */
    padding: 2.2%;
    position: static;
    /*margin-top: 80px;*/
}

footer h3{
    text-align: center;
}

/*page nouveauté*/

.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 20px;
}
.slogan p{
    background-color: #FE5CC7;
    border-radius: 30px;
    border: 20px solid #FE5CC7 ;
    font-weight: bold;
}
.paragraphe1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 20px;
}
.text{
    width: 40%;
    height: 300px;
    border-radius: 15px;
    border: 3px solid #000;
    font-size: 24px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foto {
    width: 32%;
    height: 40%;
}

.foto img{
    width: 100%;
    border-radius: 30px;
}
.paragraphe2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 20px;
}

/*boutique page*/

.boutiques1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
}

.boutiques1 .box img{
    width: 250px;
    height: 330px;
}

.box{
    width: 100%;
    font-size: small;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.box img{
    width: 250px;
    height: 250px;
    align-self: center;
}
.boutiques1 button {
    color: #fff;
    padding: 15px;
    background-color: #3F5F1B;
    border-radius: 30px;
    border: none;
}

/*pour centrer le button */

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.boutiques2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
}

.boutiques2 .box img{
    width: 250px;
    height: 330px;
}
.boutiques2 button {
    color: #fff;
    padding: 15px;
    background-color: #3F5F1B;
    border-radius: 30px;
    border: none;
}

/*page contact*/

.banner_contact{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.text_contact{
   display: flex;
   align-items: center;
   padding-left: 80px;
   width: 70%;
}
.text_contact p{
    color: #FF1B1B;
    font-size: 30px;
    font-weight: bold;
    :*font-size: clamp(16px,4vw,40px);*/
}

.img_contact{
    width: 30%;
    height: 100%;
}
.img_contact img{
    height: 300px;
    width: 300px;
}

/*cham global*/

.champ{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    color: #000;
    gap: 30px;
    /* border: 1px solid red; */
}

/*champ input*/

.champ input{
    color: #000;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    padding: 5px 15px;
}

.name{
    display: flex;
    width: 100%;
    gap: 2%;
}

.name input{
}
/*text bolder au champ*/

.champ input::placeholder{
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.Question{
    display: flex;
    width: 100%;
    gap: 80px;
}

.Envoyer{
    border-radius: 20px;
    background-color: #FE5CC7;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    height: 40px;
}

.poki{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 80px 0;
}

.playnow_contact{
    border-radius: 20px;
    background-color: #FE5CC7;
    font-size: 28px;
    color: #000;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 280px;
    height: 70px;
}

.poki img{
    width: 50%;
    height: 50%;
    border-radius: 30px;
}

@media screen and (max-width: 768px){
    .texte_home{
        gap: 5%;
        width: 100%;
        /* margin-bottom: 80%; */
        height: 53vh;
    }

    .texte_home h1{
        font-size: 24px;
        padding-left: 20px;

    }

    .pic_girls{
        width: 100%;
        /* height: 175px; */
        /*margin: 30px auto;*/
    }
.play_now{
    width: 35%;
}

    .banner{
        display: flex;
        flex-direction: column;
    }

    .boutiques1 , .boutiques2{
        flex-direction: column;
        gap: 20px;
    }
    .logo img{
        width: 100%;
        object-fit: contain;
    }
    .logo{
        width: 120px;
    }
    a{
        padding: 1px;
    }
    .banner_contact,.paragraphe1,.paragraphe2{
        flex-direction: column;
        align-items: center;
    }

    .banner_contact img{
        width: 100%;
        height: auto;
    }

    .text_contact{
        padding: 0;
    }

    .text_contact p{
        font-size: 15px;
    }

    .champ{
        width: 90%;
    }
    .poki a{
        width: 50%;
    }
    .text{
        width: 100%;
    }
    .foto {
        width: 100%;
    }
    .paragraphe1,.paragraphe2{
        gap: 30px;
        padding: 2%;
    }
    
    footer{
        width: 100%;
        height: 10%;
        overflow-x: hidden;
        background-color: #F5DF4D;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: self-end;
        padding: 2%;
        position: static;
        bottom:0;
        margin-top: 45%;

}